html,body{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	
}


/*
 * 
 * loading
 * 
 * 
 */
    .loding{
        position: absolute;
        top: 0;
        left: 0;
        background: #ecf0f1;
        z-index: 40;
     
    }
    .loding img{
    	display: block;
    	position: absolute;
    	left: 45%;
    	top: 45%;        
  		width: 10%;
  		height: 10%;
    }
    
.spinner {
	display: block;    
	position: absolute;
    left: 45%;
    top: 45%;        
  	width: 10%;
  	height: 10%;
   z-index: 41;
  	background-color: #67CF22;
  	-webkit-animation: rotateplane 1.2s infinite ease-in-out;
  	animation: rotateplane 1.2s infinite ease-in-out;
  	transform-origin:center center;
  	-webkit-transform-origin: center center;
}
 
@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px)  translateZ(0px)}
  50% { -webkit-transform: perspective(120px) rotateY(180deg)  translateZ(0px)}
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) translateZ(0px) }
}
 
@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg) translateZ(0px);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) translateZ(0px)
  } 50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg) translateZ(0px);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) translateZ(0px)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg) translateZ(0px);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg) translateZ(0px)
  }
}

 
.z-2{
	z-index: 2;
}
.z-100{
	z-index: 100;
}
.z-50{
	z-index: 50;
}
.z-25{
	z-index: 25;
}
.z-150{
	z-index: 150;
}
.z-200{
	z-index: 200;
}
.fullpage{
	width: 100%;
	height: 100%;	
	position: absolute;
	left: 0;
	top:0
}
.overflowhidden{
	overflow: hidden;
}
.skrollable{
	position: fixed;	
	z-index: 1;
}
.skrollr-mobile .skrollable {
	
	position:absolute;
	z-index: 1;
}
.skrollr-mobile .fixed {
	
	position:absolute;
	z-index: 1;
}
.skrollable .skrollable{
	position: absolute;
	z-index: 2;	
}
.skrollable .skrollable .skrollable
{
	position: absolute;
	z-index: 3;	
}
.fixed{		
	position: fixed;
}
.absolute{
	position:absolute;
}
 
/*scene1*/
.scene1{
z-index: 1 !important;	
transition: opacity 0.7s;
-webkit-transition:opacity 0.7s;
opacity: 0;
}
.arrow{
	position: absolute;
	left: 0;
	top:0;
	z-index: 4;
	background: #6CA6C1;
	width: 100%;
	height: 100%;
	-webkit-mask:center no-repeat;
	-webkit-mask-image:url(../img/arrow.png);		
	perspective: 1000px;
	-webkit-perspective: 1000px;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	animation: arrowupdown 1s infinite;
	-moz-animation: arrowupdown 1s infinite;
	-webkit-animation: arrowupdown 1s infinite;		
	animation-direction:alternate;
	-webkit-animation-direction:alternate;	
	-moz-animation-direction: alternate;	
}
@-webkit-keyframes arrowupdown{
	from{
		-webkit-transform: translate3d(0,-10px,0);
	}
	to{
		-webkit-transform: translate3d(0,10px,0);
	}
}
@keyframes arrowupdown{
	from{
		transform: translate3d(0,-10px,0);
	}
	to{
		transform: translate3d(0,10px,0);
	}
}
.siyuan{
	font-family:'SiYuanBold37dc444f84593';
}
.awardsleft{
	height: 100%;
	width: 100%;	
	top:0%;
	left:0%;
	background-color: beige;
	-webkit-transform: rotate(-45deg) translateZ(0px);
    -moz-transform: rotate(-45deg) translateZ(0px);
    -o-transform: rotate(-45deg) translateZ(0px);
    -ms-transform: rotate(-45deg) translateZ(0px);
    transform: rotate(-45deg) translateZ(0px);      
 	-webkit-transform-origin: bottom left;
 	transform-origin: bottom left; 
}
    
.awardsright{
	height: 100%;
	width: 100%;
	top:0%;
	left:0%;
	background-color:bisque;
	-webkit-transform: rotate(45deg) translateZ(0px);
    -moz-transform: rotate(45deg) translateZ(0px);
    -o-transform: rotate(45deg) translateZ(0px);
    -ms-transform: rotate(45deg) translateZ(0px);
    transform: rotate(45deg) translateZ(0px);
    
    transform-origin: bottom right;
    -webkit-transform-origin:bottom right;
}
.awardsright h4{
	position: absolute;
	bottom:0;
	left: 40%;
}
.awardsleft h3{
	position: absolute;
	bottom:0;
	left: 30%;
}
 
.background_img{
	 min-height: 100%;
 min-width: 100%;
 height: 100%;
 width: 100%;
 max-height: 100%;
 max-width: 100%;
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 
}
@media only screen and (min-width: 768px) {
	.star_planet{
		background: url(../img/rocket.png) no-repeat 0 0;		
 
	}
}
.star_container{
	height: 60%;
}
.star{
	position: absolute;	
}


@-webkit-keyframes twinkle{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@-moz-keyframes twinkle{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes twinkle{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.star_twinkle{
animation: twinkle 1.1s infinite;
-webkit-animation:  twinkle 1.1s infinite;
-moz-animation:  twinkle 1.1s infinite;


animation-direction:alternate;
-webkit-animation-direction:alternate;	
-moz-animation-direction: alternate;
}

.spaceship{
	width: 100px;
	height: 175px;
	left:10%;
	bottom: 10%;
}
.spaceship img{
	width: 100px;
}

/*desktop*/
@media only screen and (min-width:768px ) {
	.spaceship{
		width: 254px;
		height: 445px;
	}
	.spaceship img{
		width: 254px;
	}
	
}
 
.clouds{
	height: 250px;
	width: 120%;
	left:-10%;
	position: absolute;
	top: 100%;
}
.cloud_vertical{
	
	top:0 !important;
	transform: scaleY(2) rotateZ(90deg) translateZ(0px);
	-moz-transform: scaleY(2) rotateZ(90deg) translateZ(0px);
	-webkit-transform: scaleY(2) rotateZ(90deg) translateZ(0px);
	transform-origin: left top;
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
}
.cloud_mirror{
	transform: scaleY(-1) translateZ(0px);
	-webkit-transform: scaleY(-1) translateZ(0px);
	-moz-transform: scaleY(-1) translateZ(0px);
	transform-origin: top;
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
}
.cloudbottom{
	transform:  translateZ(0px);
	-webkit-transform: translateZ(0px);
	-moz-transform: translateZ(0px);	
}
.clouds .cloud_level_1{
	background: url(../img/bg_cloud-level1.png) repeat-x 0 0;	 
	background-size:100%;
}
.clouds .cloud_level_2{
	background: url(../img/bg_cloud-level2.png) repeat-x 0 0;	 
	background-size: 100%;
}
.clouds .cloud_level_3{
	background: url(../img/bg_cloud-level3.png) repeat-x 0 0;	 
	background-size: 100%;
}
.hello_world{
	background: url(../img/hello_world.gif) no-repeat 0 0;
	height: 120px;
	width: 250px;
	background-size: 100% 100%;
	bottom: 0%;
	position: relative !important;	
	margin: 0 auto;	
	border-radius: 20px;
}
@media only screen and (min-width:768px ) {
	.hello_world{
		display: none;
	}
	.clouds .cloud_level_1{
		background: url(../img/bg_cloud-level1.png) repeat-x 0 0;
		 
		 
	}
	.clouds .cloud_level_2{
		background: url(../img/bg_cloud-level2.png) repeat-x 0 0;
	 
	 
	}
	.clouds .cloud_level_3{
		background: url(../img/bg_cloud-level3.png) repeat-x 0 0;
		 
	 
	}
}


/*cloud 1*/
@-moz-keyframes cloudmove_1{
	from{
		-moz-transform: translate3d(-10px,0,0);}
	to{
		-moz-transform: translate3d(10px,0,0);
	}
}
@-webkit-keyframes cloudmove_1{
	from{
		-webkit-transform: translate3d(-10px,0,0);
	}
	to{
		-webkit-transform: translate3d(10px,0,0);
	}
}
@keyframes cloudmove_1{
	from{
		transform: translate3d(-10px,0,0);
	}
	to{
		transform: translate3d(10px,0,0);
	}
}
.cloud_move_animation_1{
		perspective: 1000px;
	-webkit-perspective: 1000px;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	animation: cloudmove_1 1s infinite;
	-moz-animation: cloudmove_1 1s infinite;
	-webkit-animation: cloudmove_1 1s infinite;		
animation-direction:alternate;
-webkit-animation-direction:alternate;	
-moz-animation-direction: alternate;
}

/*cloud 2*/
@-moz-keyframes cloudmove_2{
	from{
		-moz-transform: translate3d(-15px,0,0);}
	to{
		-moz-transform: translate3d(15px,0,0);
	}
}
@-webkit-keyframes cloudmove_2{
	from{
		-webkit-transform: translate3d(-15px,0,0);
	}
	to{
		-webkit-transform: translate3d(15px,0,0);
	}
}
@keyframes cloudmove_2{
	from{
		transform: translate3d(-15px,0,0);
	}
	to{
		transform: translate3d(15px,0,0);
	}
}
.cloud_move_animation_2{
	perspective: 1000px;
	-webkit-perspective: 1000px;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	animation: cloudmove_2 1s infinite;
	-moz-animation: cloudmove_2 1s infinite;
	-webkit-animation: cloudmove_2 1s infinite;
	
animation-direction:alternate;
-webkit-animation-direction:alternate;	
-moz-animation-direction: alternate;
}

/*cloud3*/

@-moz-keyframes cloudmove_3{
	from{
		-moz-transform:translate3d(-20px,0,0);}
	to{
		-moz-transform: translate3d(20px,0,0);
	}
}
@-webkit-keyframes cloudmove_3{
	from{
		-webkit-transform: translate3d(-20px,0,0);
	}
	to{
		-webkit-transform: translate3d(20px,0,0);
	}
}
@keyframes cloudmove_3{
	from{
		transform: translate3d(-20px,0,0);
	}
	to{
		transform: translate3d(20px,0,0);
	}
}
.cloud_move_animation_3{
		perspective: 1000px;
	-webkit-perspective: 1000px;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	animation: cloudmove_3 1s infinite;
	-moz-animation: cloudmove_3 1s infinite;
	-webkit-animation: cloudmove_3 1s infinite;
	
animation-direction:alternate;
-webkit-animation-direction:alternate;	
-moz-animation-direction: alternate;
}



/*scene2*/
.scene2{
	z-index: 0 !important;
}
.ballonwrap{
	z-index: 3 !important;
}
.ballon{
	display: block;
	width: 200px;
	right: 10%;
	top: 0;
	position: absolute;
	z-index: 3 !important;
}
.ballon2wrap{
	z-index: 3 !important;
}
.ballon2{
	display: block;
	width: 50px;
	position: absolute;
	top: 0;
	right: 10%;
	z-index: 3  !important;
}
.ballon3wrap{
	z-index: 3 !important;
}
.ballon3div{
	width: 200px;
	height: 400px;
	position: absolute;
	z-index: 3 !important;
	top:0%
}
.ballon3{
	display: block;
	width: 200px;
	position: absolute;
	z-index: 4 !important;
	bottom: 0;
	left: 0;
	 
}
.animatewrap{
	z-index: 3 !important;
	display: none;
}
.watermelon{
	width: 140px;
	height: 100px;
	background: url(../img/watermelon_walk_spritesheet.png) no-repeat 0px 0px;
	background-size: 3651px 100%; 				 
}
.walkman1{
	width: 100px;
	height: 120px;
	/*5793*158*/
	background: url(../img/walk1_36f.png) no-repeat 0px 0px;
	background-size: 4389px 100%;
}
.walkman2{
	bottom: 15% !important;
	width: 80px;
	height: 100px;
	/*4427*154*/
	background: url(../img/walk2_36f.png) no-repeat 0px 0px;
	background-size: 2875px 100%;
}
.walkman3{
	bottom: 16% !important;
	width: 80px;
	height: 100px;
	/*4240*173*/
	background: url(../img/walk3_26f.png) no-repeat 0px 0px;
	background-size: 2451px 100%;
}
.walkman4{
	bottom: 16% !important;
	width: 180px;
	height: 168px;
	/*4109*168*/
	background: url(../img/walk4_20f.png) no-repeat 0px 0px;
	background-size: 4109px 100%;
}
.sprite{
	z-index: 3 !important;
	bottom: 25%;
	right: 0;
	position: absolute;
	display: block;	
	/*animation: marinemove 1s infinite;*/
}
.people_center{
	z-index: 3 !important;
	bottom: -35px;
	display: block;
	left: 81px;	
	height: 130px;
	position: absolute;
}
.infomation{
	
	z-index: 3 !important;
}
.infotop{
	height: 30%;
	width: 100%;
	position: absolute;	
	top:0;
	left:0
}
.infobottom{
	top:30%;
	left:0;
	height: 70%;
	width: 100%;
	position: absolute;
	
}
.keyboard-1{
	-webkit-opacity: 0.34;
	opacity: 0.34;
	left: 10%;
}
.keyboard-2{
	bottom: 50%; 
	transform: rotate(20deg) translateZ(0px);
	-webkit-transform: rotate(20deg) translateZ(0px);    
	opacity: 0.24;
	-webkit-opacity:0.24;
}
.keyboard-3{
	bottom: 5%;
	right: 5%;
	transform: rotate(50deg) translateZ(0px);
	-webkit-transform: rotate(50deg) translateZ(0px);
	opacity: 0.17;
	-webkit-opacity:0.17;
}
.infobottom img{
	display: block;
	position: absolute;
	width: 50px;
}
.fisrt-info-top{
	background-color: #dd7b26;
}
.second-info-top{
	background-color: #10507a;
}
.third-info-top{
	background-color: #cfc3c8;
}
.fourth-info-top{
	background-color:  #CCCAC2;
}
.fifth-info-top{
	background-color:  #CCCAC2;
}
/*info bottom color*/
.first-info-bottom{
	background-color: #4b95ce;
}
.second-info-bottom{
	background-color: #e7decf;
}
.third-info-bottom{
	background-color: #4d5b73;
}
.fourth-info-bottom{
	background-color: #CDE0D5;
}
.fifth-info-bottom{
	background-color: #CDE0D5;
}
.html-css{
	top:10px;
	margin-top: 18px;
}
.infotop img{
	height: 100%;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0.21;
	-webkit-opacity: 0.21;
	-moz-opacity: 0.21;
}

.info-left{
	float: left;
	width: 50%;
	display: block;
	height: 100%;
	
}
.info-right{
	float: right;
	width: 50%;
	display: block;
	height: 100%;
	
}
.info{
	width: 100%;
	padding:0 20px;
	box-sizing: border-box;
	height: 100%;
	text-align: left;
	position: absolute;
	 
	
}
.infomation{
	z-index: 4 !important;
}
.information-1{
	color: #FFFFFF;
}

.information-2{
	color: #FFFFFF;
	border-top: 2px solid #FFFFFF;
}
.information-3{
	color: #000;
	border-top: 2px solid #000;
}
.information-4{
	color: #000;
	border-top: 2px solid #000;
	top:50%;
	
}
.information-5{
	color: #fff;
	border-top: 2px solid #FFFFFF;
}
.information-6{
	color: #fff;
	border-top: 2px solid #fff;
	top:50%;
	
}
.information-7{
	color: #000;
	border-top: 2px solid #000;
}
.information-8{
	color: #000;
	border-top: 2px solid #000;
	top:50%;
	
}
.information-9{
	color: #000;
	border-top: 2px solid #000;
}
.information-10{
	color: #000;
	border-top: 2px solid #000;
	top:50%;
	
}
/*场景3*/
.scene3{
	z-index: -1 !important;
}
.scence3_bg{
 
}
.scene3 .plane{
 	display: block;
 	position: absolute;
	right: 0;
	height: 52px;
	top:10%
}
.bird{
	position: absolute;
	display: block;
	height: 80px;
	top:30%;
	right: 0;
}


/*场景4*/
 
.lemon{
	bottom: 15% !important;
	width: 100px;
}
.cloud{
	display: block;
	height: 80px;
	position: absolute;
	right: 0;	
}


/*场景5*/
.deer{
	height: 100px;
	display: block;
	position: absolute;
	left: 40%;
	bottom: 16%;
	z-index: 4;
}
.leaf{
	height: 40px;
	display: block;
	position: absolute;
	left: 90%;
	bottom: 16%;
	z-index: 4;
}
/*end*/
.end_bottom{
	background: #c7911c;
}

.end_pic{
	width:100%;
	display: block;
	position: absolute;
	left: 0%;
	top: 30%;
}
.end_wrap{
	background: #343434;
}

.mycard{
	width: 80%;
	left: 10%;
	display: block;
	position: absolute;
	top: 15%;
}
.over{
	position: absolute;
	text-align: right;
	right: 0;
	bottom: 0;
}
